:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-color: #212121;
  --text-color: #757575;
  --color-button: #ffff;
  --primary-background: #2F303A;
  --color-link-title: #2196f3;
  --background-button: #2196f3;
  --main-title-color: #ffff;
  --our-team-background: #F5F4FA;
  --address-text-color: #ffff;
  --color-link-footer: #ffff;
  --company-text-color: #000000;
  --background-portfolio-button: #F5F4FA;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --description-color: #a8a8a8;
  --label-background-color: rgba(33, 150, 243, 0.9);
  --button-focus-color: #188ce8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color:  rgba(47, 48, 58, 0.8);
  --border-color: rgba(255, 255, 255, 0.3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: o;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

ul,
ol,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-evEnts: auto;
  transition: visibility 250ms;
  opacity: 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--address-text-color);
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.close-btn:hover > .close {
  fill: var(--color-link-title);
}

.close-btn:hover:focus > .close {
  fill: var(--color-link-title);
}

.close {
  fill: var(--title-color);
  width: 11px;
  height: 11px;
}

.contact-form-submit {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  padding: 6px 22px;
  letter-spacing: 0.03em;
  display: block;
  border-radius: 4px;
  background-color: var(--color-link-title);
  color: var(--address-text-color);
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order {
  background: var(--color-link-title);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  border-radius: 4px;
  border: 0;
  letter-spacing: 0.06em;
  color: var(--color-button);
  width: 200px;
  height: 50px;
  transition: var(--label-background-color) var(--animation), box-shadow var(--animation);
}

.button-order:hover {
  background-color: var(--color-link-title);
  color: var(--main-title-color);
  outline: none;
}

.button-order:focus {
  background-color: var(--color-link-title);
  color: var(--main-title-color);
  outline: none;
}

.logo-set {
  display: flex;
  justify-content: space-between;
}

.logo-cards:not(:last-child) {
  margin-right: 10px;
}

.in-style {
  width: 20px;
  height: 20px;
}

.link-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-link-footer);
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-logo-list:hover {
  fill: var(--color-link-footer);
  background: var(--color-link-title);
}

.link-logo-list:focus {
  fill: var(--color-link-footer);
  background: var(--color-link-title);
}

.section-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.what-we-do-description {
  display: flex;
  justify-content: center;
}

.footer__list-icon {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__icon-list {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
}

.footer__icon-list:hover {
  background: var(--color-link-title);
}

.footer__icon-list:focus {
  background: var(--color-link-title);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-evEnts: auto;
  transition: visibility 250ms;
  opacity: 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.forma {
  display: flex;
  flex-direction: column;
}

.label {
  font-style: normal;
  font-weight: 500;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03;
  color: var(--text-color);
}

.name {
  margin-bottom: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text-color);
  padding-left: 42px;
  font-size: 14px;
  transition: border-color 250ms, linear;
  outline: 0;
}

.contact-form-input:focus {
  border-color: var(--color-link-title);
}

.contact-form-input:focus + .form-tel {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:focus + .user {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:focus + .form-mail {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover {
  border-color: var(--color-link-title);
}

.contact-form-input:hover + .form-tel {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover + .user {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.contact-form-input:hover + .form-mail {
  transition: border-color 250ms, linear;
  fill: var(--color-link-title);
}

.label-wrap {
  position: relative;
}

.user {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  top: 37px;
  color: CurrentColor;
}

.form-tel {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: -35px;
  top: 37px;
  color: CurrentColor;
}

.form-mail {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 37px;
  transform: translateY(-50%);
  left: -20px;
  color: CurrentColor;
}

.textarea {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms linear;
  resize: none;
}

.textarea:hover {
  outline: none;
  border-color: var(--color-link-title);
  transition: border-color 250ms, linear;
}

.textarea:focus {
  outline: none;
  border-color: #2196F3;
  transition: border-color 250ms, linear;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  margin-right: 10px;
}

.checkbox:checked {
  margin-left: 10px;
  width: 16px;
  height: 15px;
}

.checkbox:checked + .checkbox-label::before {
  background-size: cover;
  background-image: url(../images/iconcheck\.svg);
}

.checkbox:focus + .checkbox-label::before {
  border-radius: 2px;
}

.check {
  display: inline-block;
  width: 11px;
  height: 8px;
  vertical-align: middle;
  fill: var(--address-text-color);
  stroke: var(--address-text-color);
}

.checkbox-policy {
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-left: 13px;
  margin-right: 7px;
  border: 1px solid var(--title-color);
  border-radius: 2px;
  align-items: center;
}

.policy-text {
  font-size: 14px;
  line-height: 1.8;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.policy-link {
  color: var(--color-link-title);
  text-decoration: underline;
}

.accept {
  font-size: 14px;
  padding-left: 10px;
  color: var(--color-link-title);
  text-decoration: underline;
  color: var(--color-link-title);
}

.footer {
  background: var(--primary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section {
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  display: flex;
}

.footer__item-list:not(:last-child) {
  margin-bottom: 9px;
}

.studio {
  color: var(--main-title-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: var(--main-title-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.address:hover {
  color: var(--color-link-title);
}

.mail {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.mail:hover {
  color: var(--color-link-title);
}

.tele {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.tele:hover {
  color: var(--color-link-title);
}

.footer-soc-links {
  margin-left: 70px;
}

.footer__title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--address-text-color);
}

.footer__list-icon {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__icon-list {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #fff;
}

.footer__icon-list:hover {
  background: var(--color-link-title);
}

.footer__icon-list:focus {
  background: var(--color-link-title);
}

.footer-subscribe {
  margin-left: 98px;
}

.footer__subscribe-title {
  font-family: 'Roboto';
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--address-text-color);
}

.footer__subscribe-form {
  display: flex;
}

.subscribe-email {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--address-text-color);
}

.subscribe-btn {
  display: inline-flex;
  color: var(--address-text-color);
  background-color: var(--color-link-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms linear;
  border-radius: 4px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 20px;
  cursor: pointer;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--address-text-color);
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 80px;
}

.header-port {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-port {
    width: 100%;
    position: relative;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: auto;
}

.menu .link-active {
  display: inline-block;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  color: var(--color-link-title);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  padding-left: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .link-active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--color-link-title);
  transform: translateY;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  bottom: -31px;
  left: 0;
}

.logo-blue {
  font-family: Raleway;
  color: var(--color-link-title);
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  list-style: none;
}

.logo {
  font-family: Raleway;
  color: var(--title-color);
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2em;
  text-decoration: none;
  margin-right: 95px;
}

.logo-footer {
  font-family: Raleway;
  color: var(--title-color);
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2em;
  text-decoration: none;
  margin-right: 92px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

* li {
  list-style: none;
  text-decoration: none;
}

a {
  list-style: none;
  text-decoration: none;
}

.list {
  display: flex;
}

.menu-link {
  display: inline-block;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0,02em;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms linear;
}

.menu-link:hover {
  color: var(--color-link-title);
}

.menu-link:focus {
  color: var(--color-link-title);
}

.header__contact-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.02em;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms linear;
}

.header__contact-link:hover {
  fill: var(--color-link-title);
  color: var(--color-link-title);
}

.header__contact-link:focus {
  fill: var(--color-link-title);
  color: var(--color-link-title);
}

.contacts {
  display: flex;
  margin-left: auto;
  list-style: none;
  align-items: center;
}

.contacts .contact__item + .contact__item {
  margin-left: 50px;
}

.icon-item {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-item-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.link-item:hover {
  color: var(--color-link-title);
}

.link-item:focus {
  color: var(--color-link-title);
}

.menu__item {
  margin-left: 50px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: orangered;
  z-index: 999;
  transform: translateX(101%);
}

.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (max-width: 767px) {
  .contacts,
  .menu {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: black;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.page-header-port .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.65;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

@media not all, screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob2@2x.jpg);
  }
  .hero {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--primary-background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-mob2.jpg);
  }
}

.section-advantages {
  padding-top: 94px;
}

@media screen and (min-width: 480px) {
  .section-advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }
}

.middle-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hide-text {
  display: none;
}

.advantages__list {
  display: flex;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .advantages__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__list.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.text-list {
  font-family: Roboto;
  font-style: normal;
  color: var(--title-color);
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.grey-text {
  color: var(--text-color);
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-align: left;
}

.what-we-do-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.what-we-do__section-description {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.what-we-do-description {
  display: flex;
  justify-content: center;
}

.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: -30px;
}

.what-we-do__item {
  position: relative;
}

.what-we-do__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.advant-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-portfolio-button);
}

.icon-satelite {
  width: 70px;
  height: 70px;
}

.service-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--background-color);
  color: var(--color-link-footer);
}

.our-team-section {
  background: var(--our-team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-descriotion {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.our-team-box {
  padding: 30px 32px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.logo-set {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 30px;
  justify-content: center;
}

/*{
	display: flex;
	justify-content: space-between;
}*/
.logo-cards:not(:last-child) {
  margin-right: 10px;
}

.in-style {
  width: 20px;
  height: 20px;
}

.link-logo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-link-footer);
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.link-logo-list:hover {
  fill: var(--color-link-footer);
  background: var(--color-link-title);
}

.link-logo-list:focus {
  fill: var(--color-link-footer);
  background: var(--color-link-title);
}

.our-team-item {
  padding-right: 0;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 50px;
  background: var(--color-link-footer);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.our-team__list {
  display: flex;
  list-style: none;
  margin-left: -30px;
  margin-top: -50px;
  align-items: center;
}

.worker-name {
  color: var(--title-color);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.grey-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.current-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__heading {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: space-between;
}

.client {
  width: 170px;
  height: 92px;
}

.client:hover {
  border: 1px solid var(--color-link-title);
  border-radius: 4px;
}

.client:focus {
  border: 1px solid var(--color-link-title);
  border-radius: 4px;
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client__link:hover .client-icon {
  fill: var(--color-link-title);
}

.client__link:focus .client-icon {
  fill: var(--color-link-title);
}

.link-active-port {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--color-link-title);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
}

.link-port {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0,02em;
  color: var(--title-color);
  text-decoration: none;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link-active-port {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--color-link-title);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
}

.link-port {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0,02em;
  color: var(--title-color);
  text-decoration: none;
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main__item:not(:last-child) {
  margin-right: 8px;
}

.btn-port {
  font-family: Roboto;
  font-style: normal;
  background: var(--background-portfolio-button);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.65;
  letter-spacing: 0.03em;
  border-radius: 4x;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  margin-right: 8px;
  color: var(--title-color);
}

.btn-port:hover {
  background: var(--color-link-title);
  color: var(--address-text-color);
  cursor: pointer;
}

.btn-port:focus {
  background: var(--color-link-title);
  color: var(--address-text-color);
  cursor: pointer;
}

.poster__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.poster__list > .poster__item {
  flex-basis: calc((100% - 270px) / 9);
  margin-left: 30px;
  margin-top: 30px;
}

.img-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
  border: 1px solid #EEE;
  border-top: 0;
}

.poster__item:hover {
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.poster__name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--title-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.team-list-link-wraper {
  display: block;
}

.team-list-img-wraper {
  position: relative;
  overflow: hidden;
}

.poster__desc {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.poster__item:hover .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */