.advant-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	background-color: var(--our-team-background);
	margin-bottom: 30px;
}
.text-list {
	font-family: Roboto;
	font-style: normal;
	color: var(--title-color);
	line-height: 1.1;
	letter-spacing: 0.03em;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
@media screen and (min-width: 480px) {
	.advant-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 450px;
		height: 120px;
		background-color: var(--our-team-background);
		margin-bottom: 30px;
	}

	.section-advantages {
		padding-top: 60px;
		padding-bottom: 60px;
		line-height: 1.7;
		letter-spacing: 0.03em;
		color: var(--text-color);
	}	

.hide-text {
	display: none;
}
}

	.text-list {
		font-family: Roboto;
		font-style: normal;
		color: var(--title-color);
		line-height: 1.1;
		letter-spacing: 0.03em;
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 14px;
		text-transform: uppercase;
	}
	@media screen and (min-width: 480px) {
		.text-list {
			text-align: center;
		}
	}
	
.advantages__list {
	display: flex;
	list-style: none;
	padding: 0;
	
    flex-direction: column;
    align-items: center;
}

.advantages__list.advantages__item {
	&:not(:last-child) {
		margin: 0 auto;
	}
}

.advantages__item {
	margin-bottom: 30px;
	margin-left: 15px;
}	


	.advantages__list.advantages__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
.text-list {
	font-family: Roboto;
	font-style: normal;
	color: var(--title-color);
	line-height: 1.1;
	letter-spacing: 0.03em;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.grey-text {
	font-family: 'Roboto';
	color: var(--text-color);
	line-height: 1.7;
	font-weight: 400;
	letter-spacing: 0.03em;
	font-size: 14px;
	text-align: left;

}
@media screen and (min-width: 768px) {
.advantages__list {
	flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -30px;
    margin-left: -30px;
}
.advantages__item:not(:last-child) {
    margin-bottom: 0;
}
.advantages__item {
	flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
}
.advant-item {
	width: 354px;
}
}
@media screen and (min-width: 1200px) {
	.section-advantages {
		padding-top: 94px;
	}
	.text-list {
		font-family: Roboto;
		font-style: normal;
		color: var(--title-color);
		line-height: 1.1;
		letter-spacing: 0.03em;
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 14px;
		text-transform: uppercase;
		text-align: left;
	}
	.advantages__list {
		display: flex;
		list-style: none;
		padding: 0;
	}

	.advantages__item {
		flex-basis: calc((100% - 120px) / 4);
		margin-left: 30px;
	}
.advant-item {
	width: 270px;
}
}
/*
}
@media screen and (min-width: 768px) {
	.section-advantages {
		padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.7;
    letter-spacing: 0.03em;
	color: var(--text-color);
	}
.advantages__list {
	flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -30px;
    margin-left: -30px;
}
.advantages__item {
	flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
}
.advant-item {
	width: 354px;
}
.advant-item {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 120px;
    background-color: var(--our-team-background);
    margin-bottom: 30px;
}
.text-list {
	font-family: Roboto;
    font-style: normal;
    color: var(--title-color);
    line-height: 1.1;
    letter-spacing: 0.03em;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.grey-text {
	font-family: 'Roboto';
	font-style: normal;
	color: var(--text-color);
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 14px;
    text-align: left;
}
	.advantages__item {
	&:not(:last-child) {
		margin-bottom: 0;
	}
}
}
@media screen and (min-width: 1200px) {
.section-advantages {
	padding-top: 94px;
}
.middle-section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.hide-text {
	display: none;
}
.advantages__list {
	display: flex;
	list-style: none;
	padding: 0;
}
.advantages__list.advantages__item {
	&:not(:last-child) {
		margin-right: 30px;
	}
}
.advantages__item {
	flex-basis: calc((100% - 120px) / 4);
	margin-left: 30px;
}
.text-list {
	font-family: Roboto;
	font-style: normal;
	color: var(--title-color);
	line-height: 1.1;
	letter-spacing: 0.03em;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}
.grey-text {
	color: var(--text-color);
	line-height: 1.7;
	font-weight: 400;
	letter-spacing: 0.03em;
	font-size: 14px;
	text-align: left;
}
}
}
*/