

@media screen and (min-width: 480px) {
    .menu {
      display: none;
    }
    .contacts {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      align-items: center;
    }
    .contacts {
      display: block;
      margin-left: auto;
      margin-bottom: 0;
    }
  }


.mobile-contact__item:not(:last-child) {
    margin-bottom: 10px;
}
    
    @media screen and (min-width: 1200px) {
        .contacts {
          display: flex;
          align-items: center;
        }
        .mobile-contact__item:not(:last-child) {
          
             margin-bottom: 0;
            margin-right: 30px;
            
          } 
    }  
          
  