@media screen and (min-width: 480px) {
    .current-clients {
    padding-top: 60px;
    padding-bottom: 60px;
}
.client__heading {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2x;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--company-text-color);
}
.client__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.client {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
    list-style: none;
    &:hover {
        border: 1px solid var(--color-link-title);
        border-radius: 4px;
    }
    &:focus {
        border: 1px solid var(--color-link-title);
        border-radius: 4px;
    }
}
.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

}
@media screen and (min-width: 768px) {
    .current-clients {
        padding-top: 60px;
    padding-bottom: 60px;
    }
    .client__heading {
        margin-bottom: 50px;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.2x;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--company-text-color);
    }
    
    .client {
        flex-basis: calc((100% - 90px) / 32);
        margin-top: 30px;
        margin-left: 30px;
        
        &:hover {
            border: 1px solid var(--color-link-title);
            border-radius: 4px;
        }
        &:focus {
            border: 1px solid var(--color-link-title);
            border-radius: 4px;
        }
    }
}
@media screen and (min-width: 1200px) {
	.current-clients {
		padding-top: 94px;
		padding-bottom: 94px;
	}
	.client__heading {
		color: var(--title-color);
		font-weight: 700;
		font-size: 36px;
		line-height: 1.16;
		text-align: center;
		margin-bottom: 50px;
	}
	.client__list {
		display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    }
	.client {
		width: 170px;
		height: 92px;
		&:hover {
			border: 1px solid var(--color-link-title);
			border-radius: 4px;
		}
		&:focus {
			border: 1px solid var(--color-link-title);
			border-radius: 4px;
		}
	}
	.client__link {
		width: 170px;
		&:hover {
			.client-icon {
				fill: var(--color-link-title);
			}
		}
	
		&:focus {
			.client-icon {
				fill: var(--color-link-title);
			}
		}
	}
}


	
