
	.our-team-section {
		background: var(--our-team-background);
		padding-top: 94px;
		padding-bottom: 94px;
	}
	@media screen and (min-width: 480px) {
		.our-team__list {
			align-items: center;
		}
		.our-team-item {
			margin-left: 0;
		}
		}
	@media screen and (min-width: 1200px) {
	.our-team__list {
		display: flex;
		list-style: none;
		margin-left: -30px;
		margin-top: -50px;
		align-items: center;
	}
	.our-team-item {
		padding-right: 0;
		flex-basis: calc((100% - 120px) / 4);
		margin-left: 30px;
		margin-top: 50px;
		background: var(--color-link-footer);
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.120);
		border-radius: 0px 0px 4px 4px;
		}
	}

.section-descriotion {
font-family: Roboto;
font-style: normal;
font-weight: bold;
 font-size: 36px;
 line-height: 42px;
 text-align: center;
 letter-spacing: 0.03em;
 color: var(--title-color);
 margin-bottom: 50px;
}

.our-team-item {
padding-right: 0;
flex-basis: calc((100% - 120px) / 4);

margin-top: 50px;
background: var(--color-link-footer);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.120);
border-radius: 0px 0px 4px 4px;
}

.logo-set {
display: flex;
align-items: center;
margin-top: 16px;
padding-bottom: 30px;
justify-content: center;
}  
.logo-cards {
&:not(:last-child) {
	margin-right: 10px;
}
}
.in-style {
width: 20px;
height: 20px;
}
.link-logo-list {
display: flex;
justify-content: center;
align-items: center;
background-color: var(--color-link-footer);
fill: #afb1b8;
width: 44px;
height: 44px;
border-radius: 50%;
&:hover {
	fill: var(--color-link-footer);
	background: var(--color-link-title);
}
&:focus {
	fill: var(--color-link-footer);
	background: var(--color-link-title);
}
}

.worker-name {
color: var(--title-color);
text-align: center;
line-height: 1.2;
letter-spacing: 0.03em;
font-weight: 500;
font-size: 16px;
margin-top: 0;
margin-bottom: 10px;
}
.grey-prof {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
margin-top: 0;
margin-bottom: 16px;
}
@media screen and (min-width: 480px) {
	.our-team-section {
		padding-top: 60px;
   	    padding-bottom: 60px;
		background-color: var(--our-team-background);
	}
	
	.our-team-box {
		padding: 24px 122px;
	}
.worker-name {
	font-family: 'Roboto';
	margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.grey-prof {
	font-family: 'Roboto';
	font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.logo-set {
	display: flex;
	list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    width: 206px;
    margin-left: auto;
    margin-right: auto;
}
.logo-cards {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.in-style {
	width: 20px;
	height: 20px;
}
.link-logo-list {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-link-footer);
	fill: #afb1b8;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	&:hover {
		fill: var(--color-link-footer);
		background: var(--color-link-title);
	}
	&:focus {
		fill: var(--color-link-footer);
		background: var(--color-link-title);
	}
}

@media screen and (min-width: 768px) {
	.our-team-section {
		padding-top: 60px;
   	    padding-bottom: 60px;
		background-color: var(--our-team-background);
	}
	.section-descriotion {
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		 font-size: 36px;
		 line-height: 1.2;
		 text-align: center;
		 letter-spacing: 0.03em;
		 color: var(--title-color);
		 margin-bottom: 50px;
	 }
	.our-team__list {
		display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
	}
.our-team-item {
	flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
	list-style: none;
}
.our-team-box {
	padding: 24px 74px;
}
.worker-name {
	color: var(--title-color);
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.03em;
	font-weight: 500;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 10px;
}
.grey-prof {
	font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
}
	@media screen and (min-width: 1200px) {
		.our-team-section {
			background: var(--our-team-background);
			padding-top: 94px;
			padding-bottom: 94px;
		}
		
		.our-team__list {
			display: flex;
			list-style: none;
			margin-left: -30px;
			margin-top: -50px;
			align-items: center;
		}
.section-descriotion {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	 font-size: 36px;
	 line-height: 42px;
	 text-align: center;
	 letter-spacing: 0.03em;
	 color: var(--title-color);
	 margin-bottom: 50px;
 }
 .our-team-item {
	padding-right: 0;
	flex-basis: calc((100% - 120px) / 4);
 }
.our-team-box {
	padding: 30px 32px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.logo-set {
	display: flex;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 30px;
    justify-content: center;
}  
.logo-cards {
	&:not(:last-child) {
		margin-right: 10px;
	}
}
.in-style {
	width: 20px;
	height: 20px;
}
.link-logo-list {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-link-footer);
	fill: #afb1b8;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	&:hover {
		fill: var(--color-link-footer);
		background: var(--color-link-title);
	}
	&:focus {
		fill: var(--color-link-footer);
		background: var(--color-link-title);
	}
}

.worker-name {
	color: var(--title-color);
	text-align: center;
	line-height: 1.2;
	letter-spacing: 0.03em;
	font-weight: 500;
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 10px;
}
.grey-prof {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-color);
	margin-top: 0;
	margin-bottom: 16px;
}
	}
}