
.poster__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
	>.poster__item {
		
		margin-left: 30px;
		flex-basis: calc((100% - 90px) / 3);
	}
}
@media screen and (min-width: 768px) {
.poster__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: -30px;
    margin-top: -30px;
}
}

@media screen and (min-width: 1200px) {
.poster__list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	
	>.poster__item {
		
		margin-left: 30px;
		flex-basis: calc((100% - 90px) / 3);
	}	
}
}
@media screen and (min-width: 1200px) {
	.poster__list {
		flex-basis: calc((100% - 90px) / 3);
	}
}

.img-text {
	font-family: 'Roboto';
	
	border: 1px solid #eeeeee;
	border-top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	
	padding-left: 24px;
	border: 1px solid #EEE;
	border-top: 0;
	flex-grow: 1;
}
@media screen and (min-width: 1200px) {
	.img-text {
		border: 1px solid #eeeeee;
		border-top: 0;
		padding: 20px 24px;
		border: 1px solid #EEE;
	}
}
.poster__item {
	&:hover {
		box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.20);
	}
}

.poster__name {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	color: var(--title-color);
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

@media screen and (min-width: 768px) {
	.poster__name {
	font-family: 'Roboto';
	
	font-weight: 700;
}
}
@media  screen and (min-width: 1200px) {
	.poster__name {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		margin-bottom: 4px;
		color: var(--title-color);
		margin-top: 0;
		
		padding-left: 0;
	}
}

.team-list-img-wraper {
    position: relative;
    overflow: hidden;
}
.poster__desc {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-color);
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
