.link-active-port {
	font-family: var(--main-font);
	font-style: normal;
	color: var(--color-link-title);
	letter-spacing: 0.02em;
	font-weight: 500;
	font-size: 14px;
	list-style: none;
}
.link-port {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0,02em;
	color: var(--title-color);
	text-decoration: none;
}
.main-section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.main__btn-list {
	
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.main__item {
	&:not(:last-child) {
		margin-right: 8px;
	}
}
.btn-port {
	font-family: Roboto;
	font-style: normal;
	background: var(--background-portfolio-button);
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: 0.03em;
	border-radius: 4x;
	padding: 6px 22px;
	border: 0;
	border-radius: 4px;
	margin-right: 8px;
	color: var(--title-color);
	&:hover {
		background: var(--color-link-title);
		color: var(--address-text-color);
		cursor: pointer;
	}
	&:focus {
		background: var(--color-link-title);
		color: var(--address-text-color);
		cursor: pointer;
	}
}
