

 @media screen and (min-width: 480px) {
    .main-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
 .footer__list {
     text-align: center;
 }
}
 @media screen and (min-width: 768px) {
     .poster-section {
        padding-top: 30px;
     }
}
@media screen and (min-width: 1200px) {
     .main-section {
        padding-top: 94px;
        
     }
.footer__list {
    text-align: left;
}
}