
	.advant-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 450px;
		height: 120px;
		background-color: var(--our-team-background);
		margin-bottom: 30px;
	
}
	@media screen and (min-width: 768px) {
		.advant-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 360px;
		height: 120px;
		background-color: var(--our-team-background);
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 1200px) {
	.what-we-do-section {
		padding-bottom: 94px;
		padding-top: 94px;
	}
	.what-we-do-section {
		display: none;
	}
}
.what-we-do__section-description {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-color);
	margin-bottom: 50px;
}
.what-we-do-description {
	display: flex;
	justify-content: center;
}
.what-we-do__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	padding: 0;
	margin-left: -30px;
}
.what-we-do__item {
	position: relative;
}
.what-we-do__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
}


.icon-satelite {
	width: 70px;
	height: 70px;
}

.service-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: var(--background-color);
	color: var(--color-link-footer);
}
.advant-item {
	width: 270px;
}
