.section-description {
    font-weight: bold;
     font-size: 36px;
     line-height: 42px;
     text-align: center;
     letter-spacing: 0.03em;
     color:  var(--title-color);
     margin-bottom: 75px;
 }
 .what-we-do-description {
    display: flex;
    justify-content: center;
 }