@media screen and (min-width: 480px) {
	.footer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
	.logo-footer {
		margin: 0;
	}
	.footer {
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: var(--primary-background);
	}
	.footer-list {
		list-style: none;
	}
.footer-section {
		width: 480px;
		margin-left: auto;
		margin-right: auto;
	}
	.studio {
		color: var(--main-title-color);
	}
.address-footer-section {
	display: flex;
    align-items: center;
    flex-direction: column;
}
.address {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	color: var(--main-title-color);
	line-height: 1.7;
	letter-spacing: 0.03em;
	font-size: 14px;
	&:hover {
		color: var(--color-link-title);
	}
}
.footer__item {
	&:not(:last-child) {
		margin-bottom: 9px;
		
	}
}
.footer__item-list {
	&:not(:last-child) {
		margin-bottom: 9px;
		list-style: none;
	}
}
.mail {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	
	letter-spacing: 0.03em;
	color: var(--text-color);
	&:hover {
		color: var(--color-link-title);
	}
}
.tele {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--text-color);
	&:hover {
		color: var(--color-link-title);
	}
}
.footer-soc-links {
	margin-top: 60px;
}
.footer__icon {
	list-style: none;
}
.footer__title {
	margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
	text-align: center;
	color: var(--address-text-color);
}
}
@media screen and (min-width: 768px) {

	.footer {
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: var(--primary-background);
	}
.footer-section {
		width: 768px;
		flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-wrapper {
	flex-direction: row;
	/*align-items: baseline;*/
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-soc-links {
	margin-top: -30px;
}

@media screen and (min-width: 1200px) {
	.footer-wrapper {
		display: flex;
		flex-direction: row;
		
		flex-wrap: wrap;
		
	}
}
	.studio {
		color: var(--main-title-color);
	}
	.address-footer-section {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
.address {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	color: var(--main-title-color);
	line-height: 1.7;
	letter-spacing: 0.03em;
	font-size: 14px;
	&:hover {
		color: var(--color-link-title);
	}
}
.footer__item {
	&:not(:last-child) {
		margin-bottom: 9px;
	}
}
.footer__item-list {
	&:not(:last-child) {
		margin-bottom: 9px;
		list-style: none;
	}
}
.mail {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--text-color);
	&:hover {
		color: var(--color-link-title);
	}
}
.tele {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--text-color);
	&:hover {
		color: var(--color-link-title);
	}
}

.footer__list {
	list-style: none;
}

.footer__title {
	margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
	text-align: center;
	color: var(--address-text-color);
}
.footer__list-icon {
	margin-top: 0;
}
}
@media screen and (min-width: 1200px) {	
	.footer {
		background: var(--primary-background);
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.footer-section  {
		width: 1200px;
		display: flex;
		flex-direction: row;
    	align-items: baseline;
		
	}
	
	.footer__item-list {
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}
	.studio {
		color: var(--main-title-color);
	}
	.footer__item {
		&:not(:last-child) {
			margin-bottom: 9px;
		}
	}
	.address-footer-section {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		margin-right: 70px;
		display: inline-block;
		color: var(--main-title-color);
		line-height: 1.7;
		letter-spacing: 0.03em;
		font-size: 14px;
		&:hover {
			color: var(--color-link-title);
		}
	}
	.mail {
		font-family: var(--main-font);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.7;
		letter-spacing: 0.03em;
		color: var(--text-color);
		&:hover {
			color: var(--color-link-title);
		}
	}
	.tele {
		font-family: var(--main-font);
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.7;
		letter-spacing: 0.03em;
		color: var(--text-color);
		&:hover {
			color: var(--color-link-title);
		}
	}
	.footer-soc-links {
		margin-right: 70px;
	}
	.footer__title {
		font-family: 'Roboto';
		font-weight: bold;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		text-align: left;
		color: var(--address-text-color);
	}
	.footer__list-icon {
		display: flex;
		width: 206px;
		justify-content: space-between;
		margin-top: 20px;
	}
	.footer__icon-list {
		display: flex;
		width: 44px;
		height: 44px;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		fill: #fff;
		&:hover {
			background: var(--color-link-title);
		}
		&:focus {
			background: var(--color-link-title);
		}
	}
}