.button-order {
	background: var(--color-link-title);
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	margin-top: 30px;
	border-radius: 4px;
	border: 0;
	letter-spacing: 0.06em;
	color: var(--color-button);
	width: 200px;
	height: 50px;
	transition: var(--label-background-color) var(--animation), box-shadow var(--animation);
	&:hover {
		background-color: var(--color-link-title);
		color: var(--main-title-color);
		outline: none;
	}
	&:focus {
		background-color: var(--color-link-title);
		color: var(--main-title-color);
		outline: none;
	}
}

 