
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-left: o;
   margin-right: 0;
   margin-bottom: 0;
   margin-top: 0;
}

ul,
ol,
li {
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
}
img {
   display: block;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
 }
 body {
    font-family: 'Roboto', sans-serif;
 }